################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MonkeyShock.Azure/.vs/MonkeyShock.Azure/v17
